
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://static.pexels.com/photos/50868/pexels-photo-50868.jpeg');">
      <div class="card-category">Popular</div>
      <div class="card-description">
        <h2>Shanghai</h2>
        <p>Very cool stuff, useful and smart</p>
      </div>
      <img class="card-user" src="user.jpg">
      <a class="card-link" href="#" ></a>
      </div>
      </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://static.pexels.com/photos/161212/rio-de-janeiro-olympics-2016-niteroi-brazil-161212.jpeg');">
      <div class="card-category">Popular</div>
      <div class="card-description">
        <h2>Rio de Janeiro</h2>
        <p>Very cool stuff, useful and smart</p>
      </div>
      <img class="card-user" src="user.jpg">
      <a class="card-link" href="#" ></a>
      </div>
      </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://static.pexels.com/photos/71177/pexels-photo-71177.jpeg');">
      <div class="card-category">Popular</div>
      <div class="card-description">
        <h2>Paris</h2>
        <p>Very cool stuff, useful and smart</p>
      </div>
      <img class="card-user" src="user.jpg">
      <a class="card-link" href="#" ></a>
    </div>
    </div>
  </div>
</div>


